<u-global var="__unused" name="layout" default="undefined">
  <l-row>
    <l-col xs="12">
      <f-singleselect
        name="template"
        options=":this.state.data.templates.map(a => ({ text: a, value: a }))"
        onValueChanged="this.state.layout = this.value"
        prefill=":this.state.page?.template.name ?? ''"
      >
        <span slot="label">Template</span>
      </f-singleselect>
    </l-col>
    <l-col xs="12">
      <u-if check=":this.state.layout || this.state.page?.template.name">
        <u-fetch url="/api/templates/{{this.state.layout ?? this.state.page?.template.name}}" name="layout_format">
          <d-card>
            <span slot="title">Content</span>
            <l-row>
              <u-each subject=":this.state.layout_format.fields" name="field">
                <l-col xs="12">
                  <u-if check=":this.state.field.type === 'text'">
                    <f-input name=":`content.${this.state.field.name}`" prefill=":this.state.page?.content[this.state.field.name] ?? window.empty">
                      <u-text use=":this.state.field.name"></u-text>
                    </f-input>
                  </u-if>
                  <u-if check=":this.state.field.type === 'rich_text'">
                    <f-richtext name=":`content.${this.state.field.name}`" prefill=":this.state.page?.content[this.state.field.name] ?? window.empty">
                      <u-text use=":this.state.field.name"></u-text>
                    </f-richtext>
                  </u-if>
                  <u-if check=":this.state.field.type === 'boolean'">
                    <f-toggle name=":`content.${this.state.field.name}`" prefill=":this.state.page?.content[this.state.field.name] ?? window.empty">
                      <u-text use=":this.state.field.name"></u-text>
                      <span slot="on">On</span>
                      <span slot="off">Off</span>
                    </f-toggle>
                  </u-if>
                  <u-if check=":this.state.field.type === 'number'">
                    <f-numeric name=":`content.${this.state.field.name}`" prefill=":this.state.page?.content[this.state.field.name] ?? window.empty">
                      <u-text use=":this.state.field.name"></u-text>
                    </f-numeric>
                  </u-if>
                </l-col>
              </u-each>
            </l-row>
          </d-card>
        </u-fetch>
      </u-if>
    </l-col>
  </l-row>
</u-global>
